In [15]:
import pandas as pd

df = pd.read_csv('../data/JC-201601-citibike-tripdata.csv')

df

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7474,726,2016-01-31 23:09:36,2016-01-31 23:21:42,3210,Pershing Field,40.742677,-74.051789,3213,Van Vorst Park,40.718489,-74.047727,24669,Subscriber,1965.0,1
7475,257,2016-01-31 23:17:17,2016-01-31 23:21:34,3200,MLK Light Rail,40.711131,-74.078885,3190,Garfield Ave Station,40.710467,-74.070039,24718,Subscriber,1987.0,1
7476,545,2016-01-31 23:38:33,2016-01-31 23:47:39,3214,Essex Light Rail,40.712774,-74.036486,3202,Newport PATH,40.727224,-74.033759,24619,Subscriber,1972.0,1
7477,271,2016-01-31 23:45:10,2016-01-31 23:49:42,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,24537,Subscriber,1984.0,1
7478,1413,2016-01-31 23:55:36,2016-02-01 00:19:10,3192,Liberty Light Rail,40.711242,-74.055701,3199,Newport Pkwy,40.728745,-74.032108,24671,Subscriber,1977.0,2

In [16]:
df.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [19]:
dim_stations_df = pd.concat([dim_stations_df, df[['Start Station ID', 
                                                 'Start Station Name',
                                                 'Start Station Latitude',
                                                 'Start Station Longitude']]
                             .rename(columns={
                                'Start Station ID': 'station_id',
                                'Start Station Name': 'station_name', 
                                'Start Station Latitude': 'station_latitude', 
                                'Start Station Longitude': 'station_longitude'})], ignore_index=True)

dim_stations_df = pd.concat([dim_stations_df, df[['End Station ID', 
                                                 'End Station Name',
                                                 'End Station Latitude',
                                                 'End Station Longitude']]
                             .rename(columns={
                                'End Station ID': 'station_id',
                                'End Station Name': 'station_name', 
                                'End Station Latitude': 'station_latitude', 
                                'End Station Longitude': 'station_longitude'})], ignore_index=True)

In [27]:
dim_stations_df.drop_duplicates(inplace=True)
dim_stations_df.reset_index(drop=True, inplace=True)
dim_stations_df

In [29]:
df.drop(['Start Station Name', 'Start Station Latitude', 'Start Station Longitude', 'End Station Name', 'End Station Latitude', 'End Station Longitude'], axis=1, inplace=True)

df

,Trip Duration,Start Time,Stop Time,Start Station ID,End Station ID,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,3209,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,3213,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,3213,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,3203,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,3210,24573,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...
7474,726,2016-01-31 23:09:36,2016-01-31 23:21:42,3210,3213,24669,Subscriber,1965.0,1
7475,257,2016-01-31 23:17:17,2016-01-31 23:21:34,3200,3190,24718,Subscriber,1987.0,1
7476,545,2016-01-31 23:38:33,2016-01-31 23:47:39,3214,3202,24619,Subscriber,1972.0,1
7477,271,2016-01-31 23:45:10,2016-01-31 23:49:42,3186,3203,24537,Subscriber,1984.0,1
7478,1413,2016-01-31 23:55:36,2016-02-01 00:19:10,3192,3199,24671,Subscriber,1977.0,2